<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Other entities -->
		<mapping class="cz.cvut.fit.genepi.dataLayer.entity.AdvancedSearchEntity" />
		<mapping class="cz.cvut.fit.genepi.dataLayer.entity.ContactEntity" />
		<mapping class="cz.cvut.fit.genepi.dataLayer.entity.PatientEntity" />
		<mapping class="cz.cvut.fit.genepi.dataLayer.entity.UserEntity" />
		<mapping class="cz.cvut.fit.genepi.dataLayer.entity.UserRoleEntity" />
		<mapping class="cz.cvut.fit.genepi.dataLayer.entity.RoleEntity" />
		<mapping class="cz.cvut.fit.genepi.dataLayer.entity.NewsMessageEntity" />
		<mapping class="cz.cvut.fit.genepi.dataLayer.entity.ExportParamsEntity" />

		<!-- Card entities -->
		<mapping class="cz.cvut.fit.genepi.dataLayer.entity.card.AnamnesisEntity" />
		<mapping class="cz.cvut.fit.genepi.dataLayer.entity.card.ComplicationEntity" />
		<mapping
			class="cz.cvut.fit.genepi.dataLayer.entity.card.DiagnosticTestMriEntity" />
		<mapping
			class="cz.cvut.fit.genepi.dataLayer.entity.card.DiagnosticTestScalpEegEntity" />
		<mapping class="cz.cvut.fit.genepi.dataLayer.entity.card.HistologyEntity" />
		<mapping
			class="cz.cvut.fit.genepi.dataLayer.entity.card.InvasiveTestCorticalMappingEntity" />
		<mapping
			class="cz.cvut.fit.genepi.dataLayer.entity.card.InvasiveTestEcogEntity" />
		<mapping
			class="cz.cvut.fit.genepi.dataLayer.entity.card.InvasiveTestEegEntity" />
		<mapping
			class="cz.cvut.fit.genepi.dataLayer.entity.card.NeurologicalFindingEntity" />
		<mapping
			class="cz.cvut.fit.genepi.dataLayer.entity.card.NeuropsychologyEntity" />
		<mapping
			class="cz.cvut.fit.genepi.dataLayer.entity.card.NeuropsychologyOldEntity" />
		<mapping class="cz.cvut.fit.genepi.dataLayer.entity.card.OperationEntity" />
		<mapping class="cz.cvut.fit.genepi.dataLayer.entity.card.OutcomeEntity" />
		<mapping
			class="cz.cvut.fit.genepi.dataLayer.entity.card.PharmacotherapyEntity" />
		<mapping
			class="cz.cvut.fit.genepi.dataLayer.entity.card.SeizureDetailEntity" />
		<mapping class="cz.cvut.fit.genepi.dataLayer.entity.card.SeizureEntity" />

	</session-factory>
</hibernate-configuration>
